.navbar {
  background: $black;
  transition: background .3s;

  &-brand {
    color: $white;
    font-weight: bold;
    font-size: 24px;
    &:hover {
      color: $white;
    }
  }
  &-nav {
    .nav-item {
      button,
      a {
        // background: $black;
        // display: block;
        color: $white;
        border: 1px solid $white;
        transition: background 0.3s, color 0.3s, border 0.3s;
        font-weight: 600;
        &:hover {
          background-color: $white;
          border: 1px solid $black;
          color: $black;
        }
      }
    }
  }
  &-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: 1;
  }
}
